/* CSS Document */

h1 {position: relative;}
#circle {float: right; font-size: 30px;}

fieldset legend {margin-top:0px;}
.table1 td {text-align: left; vertical-align:top; padding:2px 5px; width:40%;}
.table1 td:first-child {text-align: left; vertical-align:top; padding:0 5px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;max-width:250px; width:auto;}
#language_from {width:150px;}
#language_to {width:150px;}